$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.top {
  height: 100vh;
  background-color: #3B99D9;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    color: #fff;
    border: 5px solid #fff;
    padding: 0px 30px 10px 30px;
  }
}

.middle {
  height: 100vh;
}
